.main-container {
  height: 100vh;
}

.header {
  height: 74px;
  background: darksalmon;
  width: 100%;
}

.footer {
  height: 60px;
  background: darksalmon;
  width: 100%;
}

.side-nav {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.example-container {
  height: 100vh;
}

.header-logo {
  margin-left: 80px;
}

/*.mat-drawer-content {
  overflow: hidden;
}*/
