<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value">
    <div class="sidenav-header">
      <fa-icon class="fa-2x sidenav-close" [icon]="faCross" (click)="sidenav.toggle()"></fa-icon>
      <fa-icon class="fa-2x sidenav-home" [icon]="faHouseDamage" (click)="sidenav.toggle()"></fa-icon>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="header">
      <fa-icon class="fa-2x sidenav-home" [icon]="faBars" (click)="sidenav.toggle()"></fa-icon>
      <fa-icon class="fa-4x header-logo" [icon]="faBookDead"></fa-icon>
    </div>

    <footer class="footer">
      <fa-icon class="fa-2x sidenav-home" [icon]="faShoePrints"></fa-icon>
    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>
